<%= require('html-loader!./includes/header.html') %>
<section class="songs-list"></section>
<form novalidate class="songs-form animated slideInDown">
    <div>
        <input type="text" id="artist" name="artist" placeholder="Artist" required>
    </div>
    <div>
        <input type="text" id="title" name="title" placeholder="Song title" required>
    </div>
    <div>
        <input type="url" id="cover" name="cover" placeholder="Cover URL">
    </div>
    <div>
        <button disabled>Create song</button>
    </div>
</form>
<%= require('html-loader!./includes/footer.html') %>
